body {
    background-color: #08161e;
    font-family: 'Courier New', Courier, monospace;
    color: white;
}
.nav_bar {
    font-size: 30px;
    font-weight: bold;
}
.container {
    margin-top: 30px;
}
.row {

}
.col-8 {

}
.col-4 {

}
.col-3.nav_logo {

}

.my_photo {
    background: url(../image/My_photo.jpg) no-repeat center center;
    background-size: 100%;
    width: 450px;
    height: 450px;
}

.nav_logo {
    background: url(../image/logo.jpg) no-repeat center center;
    background-size: 100%;
    width: 74px;
    height: 82px;
}

.col-9 {
    flex: 0 0 auto;
    width: 100%;

}
.nav_text {
    display: flex;
    align-items: center;
    justify-content: right;
    
}
.img_size {

}
.title_photo {
    text-align: center;

}

.button_js {
    text-align: center;
}

#myButton {
    border: none;
    border-radius: 15px;
    width: 150px;
    height: 50px;
    background-color: #a30f0f;
    color: #fff;
    font-weight: bold;
}

#demo img {
    margin-top: 20px;
    width: 25%;
}

.col-12.index {
    flex: 0 0 auto;
    width: 100%;
    text-align: center;

}

/* .col-12 {
    flex: 0 0 auto;
    width: 100%;
    text-align: left;

} */

.btn_red.btn__reg {
    border: none;
    border-radius: 15px;
    width: 150px;
    height: 50px;
    background-color: #a30f0f;
    color: #fff;
    font-weight: bold;
}

.hello {
    text-align: center;
}

/* .btn_red {
    border: none;
    border-radius: 15px;
    width: 150px;
    height: 50px;
    background-color: #a30f0f;
    color: #fff;
    font-weight: bold;
    text-align: center;
} */

button.btn_red {
    border: none;
    border-radius: 15px;
    width: 150px;
    height: 50px;
    background-color: #a30f0f;
    color: #fff;
    font-weight: bold;
    text-align: center;
    
}

input.form {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 1300px;
}


textarea {
	display: flex;
    justify-content: center;
    align-items: center;
    width: 1300px;
    
}

