body {
    background-color: #08161e;
    font-family: 'Courier New', Courier, monospace;
    color: white;
}
.nav_bar {
    font-size: 30px;
    font-weight: bold;
}
.container {
    margin-top: 30px;
}
.row {

}
.col-8 {

}
.col-4 {

}
.col-3.nav_logo {

}

.my_photo {
    background: url(../image/My_photo.jpg) no-repeat center center;
    background-size: 100%;
    width: 450px;
    height: 450px;
}

.nav_logo {
    background: url(../image/logo.jpg) no-repeat center center;
    background-size: 100%;
    width: 74px;
    height: 82px;
}

.col-9 {
    flex: 0 0 auto;
    width: 100%;

}
.nav_text {
    display: flex;
    align-items: center;
    justify-content: right;
    text-indent: 300px;
}
.img_size {

}
.title_photo {
    text-align: center;

}